<section class="section site-content">
    <div class="container">
        <div id="search" class="tabs is-toggle">
            <div class="pull-left">
                <ul>
                    <li v-for="column in columns" :class="[field == column ? 'is-active' : '']">
                        <a @click="sortBy(column)">
                            {{ column }}
                            <span class="icon is-small" v-show="field == column">
                                <i class="fas fa-arrow-circle-up" v-show="field == column && reverse == false"></i>
                                <i class="fas fa-arrow-circle-down" v-show="field == column && reverse == true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pull-right">
                <div class="field has-addons">
                    <div class="control">
                        <span class="select">
                            <select v-model="params.paginate" @change="rePaginate">
                                <option :value="5">5</option>
                                <option :value="10">10</option>
                                <option :value="20">20</option>
                                <option :value="100">100</option>
                            </select>
                        </span>
                    </div>
                    <div class="control">
                        <input name="search"
                            class="input"
                            v-model="params.search"
                            @keyup.enter="search"
                            placeholder="Find an article">
                    </div>
                    <div class="control">
                        <a class="button is-info">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <hr/>
            <div class="notification is-info" v-if="posts.length == 0 && loading_posts == false">
                There are no posts
            </div>
            <div class="blog-container" v-for="post in posts">
                <h1 class="title">
                    <a :href="'/article/' + post.slug" v-html="post.title"></a>
                </h1>
                <p class="blog-post-meta">
                    <i class="fa fa-user"></i> <a :href="'/profile/' + post.user.slug" v-text="post.user.name"></a>
                    <i class="fa fa-calendar"></i> <span v-text="post.nice_created_at"></span>
                </p>
                <hr>
                <p class="blog-post" v-html="post.pages[0].body"></p>
            </div>
            <div class="loading-articles has-text-centered" v-if="loading_posts">
                <i class="fas fa-spinner fa-spin fa-4x"></i>
                <br>
                <div class="text-info">Loading Posts....</div>
            </div>
            <div id="bottom"></div>
        </div>
    </div>
</section>
