<div>
    <div class="pagination-focus">
        <slot v-for="item in itemsToDisplay" :item="item" name="pagination-item"></slot>
    </div>
    <br>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li>
                <a class="pagination-link" @click="goToFirstPage" :disabled="isOnFirstPage()">First Page</a>
            </li>
            <li v-for="page in pages" :key="page">
                <a class="pagination-link" :class="{'is-current': (page) === currentPage}" @click="goToThisPage(page)" v-text="page"></a>
                
            </li>
            <li>
                <a class="pagination-link" @click="goToLastPage" :disabled="isOnLastPage()">Last Page</a>
            </li>
        </ul>
    </nav>
</div>
