<div>
    <div class="container">
        <div class="blog-container m-t-md">
            <h1 class="title">
                <a href="/article/{{ post.slug }}" v-html="post.title"></a>
            </h1>
            <p class="blog-post-meta">
                <i class="fa fa-user"></i> <a href="/profile/{{ author.slug }}" v-text="author.name"></a>
                <i class="fa fa-calendar"></i> <span v-text="post.nice_created_at"></span>
            </p>
            <hr>
            <div v-for="page in post.pages">
                <p class="blog-post" v-html="page.body"></p>
            </div>
        </div>

        <div v-if="!! featured_comment">
            <h2 class="subtitle">Featured Comment</h2>
            <p class="blog-post-meta">
                <!-- <i class="fa fa-user"></i> -->
                <img :src="featured_comment.user.gravatar.medium" class="image is-64x64 m-r-md is-pulled-left" style="border-radius: 50px;">
                <a href="/profile/{{ featured_comment.authors_slug }}">{{ featured_comment.authors_name }}</a>
                <i class="fa fa-calendar"></i> <span>{{ featured_comment.nice_created_at }}</span>
            </p>
            <div>{{ featured_comment.body }}</div>
            <hr class="m-b-m">
        </div>
        
        <h2 class="subtitle">Add a new comment</h2>

        <div v-if="currentUser" class="m-b-md">
            <div class="field">
                <div class="control">
                    <textarea rows="10" cols="50" class="textarea" v-model="comment"></textarea>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-info" @click="addComment">
                        <i class="fas fa-btn fa-edit m-r-xs"></i> Submit Comment!
                    </button>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="panel panel-info">
                <div class="panel-body">You need to be <a href="/login">logged in</a> to comment on these articles!</div>
            </div>
        </div>

        <h2 class="subtitle">Comments</h2>
        <div v-if="comments.length === 0">
            <div class="alert alert-info">
                Nobody has commented here yet!
            </div>
        </div>
        <div v-else>
            <div class="panel m-b-md" v-for="comment in comments">
                <p class="blog-post-meta">
                    <!-- <i class="fa fa-user"></i> -->
                    <img :src="comment.user.gravatar.medium" class="image is-64x64 m-r-md is-pulled-left" style="border-radius: 50px;">
                    <a href="/profile/{{ comment.authors_slug }}" v-text="comment.authors_name"></a>
                    <i class="fa fa-calendar"></i> <span>{{ comment.nice_created_at }}</span>
                    <button class="button is-text" @click.prevent="featureComment(comment)" v-if="currentUser && ! isFeaturedComment(comment)">
                        <i class="fa fa-thumbs-up"></i>
                        Feature?
                    </button>
                </p>
                <div>{{ comment.body }}</div>
            </div>
        </div>
    </div>
</div>
