<div v-if="dataLoaded">
    <section class="hero is-medium is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="is-1 title">
                    {{ user.name }}'s Profile
                </h1>
            </div>
        </div>
    </section>
    <section class="section site-content">
        <img :src="user.gravatar.large"
            alt="Avatar" 
            class="avatar" 
            style="position: relative; 
            z-index: 2; 
            float: left; 
            left: 75%; 
            margin-top: -260px; 
            border: 3px solid #fff"
        >
        <br>
        <div class="container container-into-hero">
            <div class="card">
                <div class="card-content">    
                    <h1 class="title is-2 has-bottom-highlight">{{ user.name }}'s Posts!</h1>
                    <div v-if="posts.length == 0">
                        This user has no posts!
                    </div>
                    <div class="blog-container" v-for="(post, index) in posts">
                        <h3 class="blog-post-title">
                            <a :href="'/article/' + post.slug " v-html="post.title"></a>
                        </h3>
                        <p class="blog-post-meta">
                            <i class="fa fa-calendar"></i> Published <span v-text="post.nice_created_at"></span>
                            <i class="fas fa-comments m-l-xs"></i> <span v-text="post.comment_count"></span> Comment{{ post.comment_count === 0 || post.comment_count > 1 ? 's' : '' }}
                        </p>
                        <hr v-if="index + 1 < posts.length" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
