// @import "../../../node_modules/bulma/sass/utilities/initial-variables";
// @import "../../../node_modules/bulma/sass/utilities/functions";

// $blue: #72d0eb;

// $pink: #ffb3b3;
// $primary: $pink;
// $info: $pink;

// // Add a serif family
// $family-serif: "Merriweather", "Georgia", serif;
// $family-primary: $family-serif;

@import "../mikeshellard-theme/src/app.scss";

* {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: 10%;
            // top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}
